{% style %}
  
{% endstyle %}

<section id="custom-section">
<div class="section-{{ section.id }}-padding">
<div class="explore-wrapper --{{ section.settings.desktop_content_position }}"> 
<div class="title" style="{{ section.settings.text_align }}">{{ section.settings.title }}</div>
 {% for block in section.blocks %}
         {% if block.type == 'image' %}
           <div class="image-block">
             <a href="{{ block.settings.image_link | escape }}">
             <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.alt_text | escape }}">
             </a>
           </div>
         {% endif %}
           
        {% if block.type == 'heading' %}
          <div class="heading">{{ block.settings.heading }}</div>
        {% endif %}
<div class="price">${{ block.settings.price }}</div>
   
<div class="description">{{ block.settings.description }}</div> 
  {% endfor %}
</div>
</div>  
</section>




{% schema %}
  {
    "name": "Atoms Explore Section",
    "disabled_on": {
    "groups": ["header", "footer"]
     },
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "title" 
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 52
    },
      {
      "type": "select",
      "id": "text_align",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
        "label": "Text Alignment" 
    }  
    ],
    "blocks":
    [
      {
        "type":"image",
        "name": "Image",
        "settings": [
           {           
         "type": "image_picker",
         "id": "image",
         "label":"Upload image",
           },
          {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link URL"
        }
        ],
      },
      {
        "type":"heading",
        "name":"Heading",
        "settings": [
          {
          "type": "inline_richtext",
          "id" : "heading",
          "label" : "Heading"
          }
        ],
      },
      {
      "type": "price",
      "name": "Price",
      "settings": [
        {
          "type": "number",
          "id": "price",
          "label": "Price",
          "default": 0,
        }
        ]
       },
      {
        "type":"description",
        "name":"description",
        "settings": [
          {
          "type": "text",
          "id" : "description",
          "label" : "Description"
          }
        ],
      },
      
    ]
    
    ,
    "presets": [
      {
        "name": "Atoms Explore Section"
      }
    ]
  }
{% endschema %}