{% style %}
 .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .hero-wrapper {
    text-align: center;
  }
  
  .image-block {
    text-align: {{ section.settings.desktop_content_position }};
  }

  .hero-wrapper .image-block img {
    max-width: 100%;
    aspect-ratio: 1/1;
  }

  .heading {
    max-width: 700%;
    font-weight: 300;
    font-family: VC Garamond Condensed,ui-serif;
  }
{% endstyle %}

<section id="custom-section">
<div class="section-{{ section.id }}-padding">
<div class="hero-wrapper --{{ section.settings.desktop_content_position }}"> 
       {% for block in section.blocks %}
         {% if block.type == 'image' %}
           <div class="image-block">
             <a href="{{ block.settings.image_link | escape }}">
             <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.alt_text | escape }}">
             </a>
           </div>
         {% endif %}
           
        {% if block.type == 'heading' %}
          <p class="heading" style="max-width: 700%;">{{ block.settings.heading }}</p>
        {% endif %}
             
<div class="description">{{ block.settings.description }}</div>     
          
<div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }} >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div> 
  {% endfor %}
</div>        
</div>  
<section/>

{% schema %}
{
  "name": "Atom Herobanner",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 52
    }
  ],
  "blocks": [
     {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image Link URL"
        }
      ]
    }, 
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>default</p>",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>description</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "button_label_1.default",
          "label": "button_label_1.label",
          "info": "hhjhhjhjhjhj"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "button_link_1"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "button_label_2.default",
          "label": "button_label_2.label",
          "info": "hhhgh"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Atom Herobanner"
    }
  ]
}
{% endschema %}
