<section> 
  <div class="cronix-banner" style="text-align: {{ section.settings.text_align }};">
<div class="banner" style="max-width:700px;" > {{ section.settings.heading }} </div>
<div class="caption"> {{ section.settings.caption }} </div>
<a href="{{ section.settings.button_link }}" class="button--black {{ section.settings.button_style }}">{{ section.settings.button }}</a>
  </div>
  
</section>


{% schema %}
  {
    "name": "Cronix banner",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label":"Heading",
        "default":"<p>ghhhh</p>"
      },
      {
        "type": "text",
        "id": "caption",
        "label":"Caption",
        "default":"hjjj"
      },
      {
        "type": "radio",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "centered",
            "label": "Centered"
          }
        ],
        "default": "centered"
      },

      {
        "type": "text",
        "id": "button",
        "label":"Button",
        "default":"hjjj"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link" 
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
                    {
                      "value": "button--primary",
                      "label": "Primary"
                    },
                    {
                      "value": "button--secondary",
                      "label": "Secondary"
                    }
                  ],
          "default": "button--secondary"
        }
      
    ],
   "presets": [
     {
       "name": "Cronix banner"
     }
   ]
  }
{% endschema %}