{% style %}

 .banner{
   z-index: 2;
 } 
  
 .cronix-banner{
   text-align:center;
 }

.caption{
  font-size: 1.125rem;
  font-weight: 400; 
} 

.button {
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid transparent; /* Default transparent border */; 
}

.button--primary {
  background-color: #007bff; /* Replace with your primary color */
  color: white;
  border-color: #000000; /* Primary color border */
}

.button--secondary {
  background-color: #6c757d; /* Replace with your secondary color */
  color: white;
  border-color: #000000; /* secondary color border */
}

/* Example for dynamic color if using color picker */
.button--dynamic-color {
  color: white;
}
  
  
{% endstyle %}


<section class="cronix-banner">   
<div class="video-block">
              {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: true }} 
</div> 
<div class="heading" style="max-width:1000px;">{{ section.settings.heading }}</div>
<div class="caption"> {{ section.settings.caption }} </div>
<p><a href="{{ section.settings.button_link }}" style="border:black;" class="button-- {{ section.settings.button_color }} {{ section.settings.button_style }}">{{ section.settings.button }}</a></p>
</section>


{% schema %}
  {
    "name": "Cronix banner",
    "settings": [
      {
        "type": "header",
        "content": "show & hide content"
      },
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Show the section"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label":"Heading",
        "default":"<p>ghhhh</p>"
      },
      {
        "type": "inline_richtext",
        "id": "caption",
        "label":"Caption",
        "default":"hjjj"
      },
      {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
       ],
       "default": "center",
       "label": "Position"
      },
      {
        "type": "radio",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "centered",
            "label": "Centered"
          }
        ],
        "default": "centered"
      },
      {
        "type": "header",
        "content": "Button settings"
      },
      {
        "type": "text",
        "id": "button",
        "label":"Button",
        "default":"hjjj"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link" 
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button color" 
      },
      
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
                    {
                      "value": "button--primary",
                      "label": "Primary"
                    },
                    {
                      "value": "button--secondary",
                      "label": "Secondary"
                    }
                  ],
          "default": "button--secondary"
        },
       {
          "type": "video",
          "id": "video",
          "label": "Upload your video here"
        }
      
    ],
   "presets": [
     {
       "name": "Cronix banner"
     }
   ]
  }
{% endschema %}