{% style %}
  
 .cronix-banner{
   text-align:center;
 }

.caption{
  font-size: 1.125rem;
  font-weight: 400; 
}  
  
{% endstyle %}


<section class="cronix-banner"> 
<div class="video-block">
              {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: true }} 
    
<div class="heading" style="max-width:1000px;">{{ section.settings.heading }}</div>
<div class="caption"> {{ section.settings.caption }} </div>
<p><a href="{{ section.settings.button_link }}" class="button--black {{ section.settings.button_style }}">{{ section.settings.button }}</a></p>
</div>
</section>


{% schema %}
  {
    "name": "Cronix banner",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label":"Heading",
        "default":"<p>ghhhh</p>"
      },
      {
        "type": "inline_richtext",
        "id": "caption",
        "label":"Caption",
        "default":"hjjj"
      },
      {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
       ],
       "default": "center",
       "label": "Position"
      },
      {
        "type": "radio",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "centered",
            "label": "Centered"
          }
        ],
        "default": "centered"
      },

      {
        "type": "text",
        "id": "button",
        "label":"Button",
        "default":"hjjj"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link" 
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
                    {
                      "value": "button--primary",
                      "label": "Primary"
                    },
                    {
                      "value": "button--secondary",
                      "label": "Secondary"
                    }
                  ],
          "default": "button--secondary"
        },
       {
          "type": "video",
          "id": "video",
          "label": "Upload your video here"
        }
      
    ],
   "presets": [
     {
       "name": "Cronix banner"
     }
   ]
  }
{% endschema %}