{{ 'section-main-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<section class="mainbanner section-padding-{{ section.id }}">
   
 <div class="Mainbanner-Settings section-{{ section.id }}">
   <div class="mainbanner content banner__content--{{ section.settings.desktop_content_position }}container section-{{ section.id }}-padding">
     <div class="mainbanner__wrapper">
       <div class="mainbanner__blocks">

         <img class="desktop" src="{{ section.settings.desktop_image | image_url: width: 1500 }}">
         <img class="mobile" src="{{ section.settings.mobile_image | image_url: width: 1500 }}">
         
        {% for block in section.blocks %}
          
              <p class="mainbanner__caption {{ block.settings.text_style }}--{{ block.settings.text_size }} ">
                {{ block.settings.caption }}
              </p>
            
              <h2 class="heading {{ block.settings.heading_size }}">
                {{ block.settings.heading }}
              </h2>
            
              <div class="description">
                {{ block.settings.description }}
              </div>
            
              <div class="mainbanner__button">
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}" class="button button--secondary{{ block.settings.button_style_secondary }}"
                  
                    {% endif %}>
                    {{ block.settings.button_label }}
                  </a>
                {%- endif -%}
              </div>
        {% endfor %}
         
      </div>
       </div>
   </div>
 </div>  
</section> 


{% schema %}
  {
      "name": "Main banner",
      "class": "section",
      "disabled_on": {
       "groups": ["header", "footer"]
  },
    "settings": [
      {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
      {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Image height",
      "info": "info"
    },
      {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top-left"
        },
        {
          "value": "top-center",
          "label": "Top-center"
        },
        {
          "value": "top-right",
          "label": "Top-right"
        },
        {
          "value": "middle-left",
          "label": "Middle-left"
        },
        {
          "value": "middle-center",
          "label": "Middle-center"
        },
        {
          "value": "middle-right",
          "label": "Middle-right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom-left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom-center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom-right"
        }
      ],
      "default": "middle-center",
      "label": "Middle-center"
    },
      {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Center"
    },
    ],
    "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "default",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h0",
              "label": "Extralarge"
            },
            {
              "value": "hxl",
              "label": "Extra extra large"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        },
      ]
    },
     { 
        "type": "caption",
        "name": "Caption",
        "settings": [
          {
          "type": "text",
          "id": "caption",
          "default": "caption default",
          "label": "Caption"
        },
          {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Letter spacing"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Letter spacing"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Text size"
        } 
        ] 
    },    
    {
      "type": "text",
      "name": "Description",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>description</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "button_label",
          "label": "Button label",
          "info": "info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button_link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Button style"
        }
      ]
    }
  ],
    
   "presets":[
     {
     "name": "Mainbanner",
     "blocks": [
         {
          "type": "caption" 
         },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
     }
     ]
  }
{% endschema %}