{{ 'section-main-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section id="mainbanner">
 <div class="section-{{ section.id }}">
   <div class="mainbanner content-container section-{{ section.id }}-padding">
     <div class="mainbanner__wrapper">
       <div class="mainbanner__blocks">
         
        {% for block in section.blocks %}
              <h2 class="heading {{ block.settings.heading_size }}">
                {{ block.settings.heading }}
              </h2>
            
              <div class="description">
                {{ block.settings.description }}
              </div>
            
              <div class="mainbanner__button">
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}>
                    {{ block.settings.button_label }}
                  </a>
                {%- endif -%}
              </div>
        {% endfor %}
         
      </div>
       </div>
   </div>
 </div>
</section> 


{% schema %}
  {
      "name": "Main banner",
      "class": "section",
      "disabled_on": {
       "groups": ["header", "footer"]
  },
    "settings": [
      {
      "type": "image_picker",
      "id": "first_image",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    ],
    "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "default",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h0",
              "label": "Extralarge"
            },
            {
              "value": "hxl",
              "label": "Extra extra large"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        },
      ]
    },
     { 
        "type": "caption",
        "name": "Caption",
        "settings": [
          {
          "type": "text",
          "id": "caption",
          "default": "caption default",
          "label": "Caption"
        },
          {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Letter spacing"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "Letter spacing"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium",
          "label": "Medium"
        } 
        ] 
    },    
    {
      "type": "text",
      "name": "Description",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>description</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button",
          "default": "button_label",
          "label": "Button label",
          "info": "info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button_link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Button style"
        }
      ]
    }
  ],
    
   "presets":[
     {
     "name": "Mainbanner",
     "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
     }
     ]
  }
{% endschema %}