{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section id="benefits-section">
 <div class="section-{{ section.id }}-padding">
   <div class="benefits-wrapper color-{{ section.settings.color_scheme }} position-{{ section.settings.desktop_content_position }} section-{{ section.id }}-padding">
         {% if section.settings.heading != blank %}
         <h2 class="heading {{ section.settings.heading_size }}">
                {{ section.settings.heading }}
          </h2>
          {% endif %}
         <hr>
         <ul class="features">
           {%  for block in section.blocks %}
           <li>
            {% if block.settings.logo_with_text %} 
            {{ block.settings.logo_with_text | image_url: width:80, height:80 | image_tag: class: 'logo' }}
             {% endif %}
             {% if block.settings.logo_with_text %}
             <h4>{{ block.settings.logo_with_text }}</h4>
             {% endif %}
           </li>
             {% endfor %}
         </ul>
         <hr>
          <hr>
         {% if section.settings.description != blank %}
             {{ section.settings.description }}
           {% endif %}
          <hr>
   </div>
 </div>
</section>





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}