{% style %}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* General styling */
.video-wrapper {
  display: flex;
  justify-content: center; /* Default to center */
  padding: 16px;
  width: 100%;
}

.video-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-block video {
  width: 100%;
  height: auto;
}

/* Center alignment */
.section-center .video-wrapper {
  justify-content: center;
}

/* Left alignment */
.section-left .video-wrapper {
  justify-content: flex-start;
}

/* Right alignment */
.section-right .video-wrapper {
  justify-content: flex-end;
}

  
{% endstyle %}  

<section id="video-section">
 <div class="section-{{ section.id }}-padding">
   <div class="video-container color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
     <div class="video-wrapper --{{ section.settings.desktop_content_position }}">
       {% for block in section.blocks %}

          <h2 class="heading {{ block.settings.heading_size }}">
                {{ block.settings.heading }}
          </h2>

         {% if block.type == 'video' %}
           <div class="video-block">
             <video controls>
             <source src="{{ block.settings.video_url }}" type="video/mp4">
               Your browser does not support the video tag.
          </video>
           </div>
         {% endif %}
       {% endfor %}
     </div>
   </div>
 </div>
</section>




{% schema %}
  {
    "name": "Section name",
    "settings": [],
     "presets":[
       {
       "name": "Videosection"
       }
     ]
  }
  
{% endschema %}